.container {
  position: relative;
  // width: 100vw;

  .Main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .MainInner {
      margin: auto;
      width: var(--max-width);
      // display: flex;
      // align-items: center;
      // justify-content: flex-start;
      white-space: normal;

      .HeroText {
        height: 200px;
        font-size: 4.2rem;
        font-weight: 600;
        word-break: break-all;

        .TypeText {
          pointer-events: none;
        }
      }
    }
  }

  .Projects {
    // background-color: red;
    height: max(100vh, 800px);
    padding: 0 3vw;
    .ProjectsInner {
      min-height: 100%;
      margin: auto;
      max-width: 1301px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 2rem;

      .GridItem {
        height: 100%;
        width: 100%;
        background-color: blue;

        &:nth-child(2),
        &:nth-child(4) {
          margin-top: 8rem;
        }
      }
    }
  }

  .AboutBlurb {
    margin-top: 8rem;
    min-height: max(60vh, 400px);
    padding: 0 3rem;
    .AboutBlurbInner {
      margin: 0 auto;
      max-width: 1301px;
      min-height: 60vh;
      display: flex;
      // background-color: red;
      align-items: center;
      justify-content: flex-start;
      p {
        font-size: 24px;
        max-width: 1000px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .container {
    .Main {
      .MainInner {
        .HeroText {
          font-size: 3rem;
        }
      }
    }
    .Projects {
      .ProjectsInner {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        gap: 2rem;

        .GridItem {
          &:nth-child(2),
          &:nth-child(4) {
            margin-top: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .container {
    .Main {
      .MainInner {
        .HeroText {
          font-size: 2.5rem;
        }
      }
    }
  }
}
