.container {
  position: relative;
  // width: 100vw;
  .Navbar {
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 3vw;

    .NavbarInner {
      margin: auto;
      max-width: 1301px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .LogoText {
        font-size: 28px;
      }

      .Navlist {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;

        .NavItem {
          text-transform: uppercase;
          padding: 0 1rem;
          font-weight: 100;
          font-size: 24px;

          &:last-child {
            padding-right: 0;
          }
        }
      }
    }
  }

  .Main {
    height: max(95vh, 800px);
    padding: 0 3vw;
    .MainInner {
      min-height: 100%;
      margin: auto;
      max-width: 1301px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      white-space: normal;

      .HeroText {
        font-size: calc(4.2 * 1rem);
        font-weight: 600;
        word-break: break-all;
      }
    }
  }

  .Projects {
    // background-color: red;
    height: max(100vh, 800px);
    padding: 0 3vw;
    .ProjectsInner {
      min-height: 100%;
      margin: auto;
      max-width: 1301px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 2rem;

      .GridItem {
        height: 100%;
        width: 100%;
        background-color: blue;

        &:nth-child(2),
        &:nth-child(4) {
          margin-top: 8rem;
        }
      }
    }
  }

  .AboutBlurb {
    margin-top: 8rem;
    min-height: max(60vh, 400px);
    padding: 0 3rem;
    .AboutBlurbInner {
      margin: 0 auto;
      max-width: 1301px;
      min-height: 60vh;
      display: flex;
      // background-color: red;
      align-items: center;
      justify-content: flex-start;
      p {
        font-size: 24px;
        max-width: 1000px;
      }
    }
  }

  footer {
    height: 20vh;
    padding: 0 3rem;
    .FooterInner {
      max-width: 1301px;
      margin: 0 auto;

      a {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .container {
    .Navbar {
      display: none;
    }

    .Projects {
      .ProjectsInner {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        gap: 2rem;

        .GridItem {
          &:nth-child(2),
          &:nth-child(4) {
            margin-top: 0;
          }
        }
      }
    }
  }
}
