.Navbar {
  width: 100%;
  height: var(--navbar-height);
  position: absolute;
  box-sizing: border-box;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 3vw;
  z-index: 1000;

  .NavbarInner {
    margin: auto;
    max-width: 1301px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .LogoText {
      font-size: 28px;
    }

    .Navlist {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;

      .NavItem {
        text-transform: uppercase;
        padding: 0 1rem;
        font-weight: 100;
        font-size: 18px;
        font-family: var(--secondary-font);

        a {
          font-family: inherit;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }

    .Burger {
      // background-color: red;
      // border: 1px solid black;
      height: 30px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      display: none;
      .BurgerInner {
        width: 100%;
        height: 3px;
        background-color: black;
        border-radius: 100px;
        &::after,
        &::before {
          content: "";
          display: inline-block;
          position: absolute;
          width: 100%;
          height: 3px;
          border-radius: 100px;
        }

        &::after {
          background-color: black;
          top: 0%;
          left: 0;
        }

        &::before {
          background-color: black;
          left: 0;
          bottom: 0%;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .Navbar {
    // display: none;
  }
}

@media screen and (max-width: 580px) {
  .Navbar {
    .NavbarInner {
      .Navlist {
        display: none;
      }
      .Burger {
        display: flex;
      }
    }
  }
}
