.Project {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;

  .ProjectInner {
    max-width: var(--max-width);
    padding-top: calc(var(--navbar-height) * 2);
    display: flex;
    flex-direction: column;
    h1 {
      max-width: 80%;
    }

    & > * {
      padding-block: 3rem;
    }

    .CenterHeader {
      align-self: center;
    }

    .MainImage {
      width: 100%;
      background-color: #111111;
      padding: 3rem;
    }

    .TextBlock {
      width: 60%;
      align-self: center;
    }

    .ImageList {
      align-self: center;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;

      img {
        max-width: 400px;
        padding: 1rem;
        margin: 1rem;
        background-color: #181818;
      }
    }

    .ImageGrid {
      align-self: center;
      display: grid;
      grid-template-columns: repeat(
        auto-fit,
        minmax(min(100%, max(300px, 100%/3)), 1fr)
      );
      gap: 20px;
      margin-bottom: 8rem;
      img {
        max-width: 100%;
        // height: 100%;
        height: 100%;
        // margin: 0.5rem;
        border: 1px solid black;

        &:nth-child(2n) {
          // margin-top: 30%;
          margin-top: 8rem;
        }
      }
    }

    .SOW {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      div {
        // width: 15%;
        background-color: red;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .Project .ProjectInner {
    .TextBlock {
      width: 80%;
    }
  }
}

@media screen and (max-width: 700px) {
  .Project .ProjectInner {
    h3 {
      // align-self: center;
      max-width: 90%;
      align-self: center;
    }
    h1 {
      &.MainHeader {
        font-size: 22px;
        align-self: center;
        max-width: 90%;
      }
    }
    .ImageGrid {
      img {
        &:nth-child(2n) {
          margin-top: 0;
        }
      }
    }
  }
}
